.mobileMenu {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;

  &__closeButton {
    border: none;
    background-color: transparent;
  }

  &__closeIcon {
    font-size: 35px;
    color: $white;

    @extend .fas;
    @extend .fa-times;
  }

  &__header {
    &__profileWrapper {
      padding: 30px 0px;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
  }

  &__authNav {
    padding: 10px 30px;
    flex: 1;
  }

  &__nav {
    padding: 30px;
    flex: 1;
  }

  &__link {
    display: block;
    margin: 20px 0;
    color: $white;
    font: {
      size: 25px;
      family: $linetoBold;
    }
    text: {
      transform: capitalize;
      decoration: none;
    }
  }

  &__avatar {
    margin: 0 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  &__userDetail {
    overflow: hidden;

    &__name {
      margin: {
        bottom: 5px;
        top: 0;
        left: 0;
        right: 0;
      }
      color: $white;
      font-family: $linetoBold;
      font-size: 20px;
    }
  
    &__email {
      padding-bottom: 2px;
      margin: 0;
      font: {
        size: 12px;
        weight: 200;
      }
      font-family: $linetoBook;
      font-size: 16px;
      color: $grey;
    }
  }

  &__footer {
    text-align: center;
  }


  &__logoutButton {
    padding: 7px 20px;
    color: $white;
    font-family: $linetoBold;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;

    &__icon {
      margin-left: 10px;
      font-size: 18px;

      @extend .fas;
      @extend .fa-sign-out-alt;
    }
  }
}