$fontSize: 14px;
$fontFamily: Arial, Helvetica, sans-serif;
$linetoBlack: 'Lineto_Black';
$linetoBold: 'Lineto_Bold', Arial, Helvetica, sans-serif;
$linetoBook: 'Lineto_Book', Arial, Helvetica, sans-serif;
$linetoBookItalic: 'Lineto_Book_Italic', Arial, Helvetica, sans-serif;
$linetoMedium: 'Lineto_Medium', Arial, Helvetica, sans-serif;
$linetoMediumItalic: 'Lineto_Medium_Italic', Arial, Helvetica, sans-serif;
