{
  "presets": [
    "react",
    "es2015",
    "flow",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "containers": "./containers",
          "routes": "./routes"
        }
      }
    ]
  ]
}