.login {
  position: relative;

  @include size-for(tablet-up) {
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }

  @include size-for(phone-only) {
    padding: {
      top: 100px;
      bottom: 100px;
      left: 10px;
      right: 10px;
    }
  }

  &__header {
    text-transform: capitalize;
    margin: {
      bottom: 45px;
      top: 20px;
    }
    font-family: $linetoBook;
    text-align: center;

    @include size-for(tablet-up) {
      font-size: 32px;
    }

    @include size-for(phone-only) {
      font-size: 28px;
    }
  }

  .textInput {
    @include size-for(tablet-up) {
      $TextInputConfig: (
        inputPadding: 15px,
        fontSize: 18px,
        margin: 20px auto,
      );
  
      @include textInput($TextInputConfig);
    }

    @include size-for(phone-only) {
      $TextInputConfig: (
        inputPadding: 13px,
        fontSize: 16px,
        margin: 20px auto,
      );
  
      @include textInput($TextInputConfig);
    }
  }

  .card {
    @include size-for(tablet-up) {
      $CardConfig: (
        margin: 0px auto,
        padding: 20px 40px,
      );

      width: 450px;
    
      @include card($CardConfig);
    }

    @include size-for(phone-only) {
      $CardConfig: (
        margin: 0px auto,
        padding: 15px 15px,
      );

      width: 100%;
    
      @include card($CardConfig);
    }
  }

  .button {
    display: block;
    width: 100%;

    @include size-for(tablet-up) {
      $ButtonConfig: (
        margin: 20px auto,
        padding: 14px,
        fontSize: 18px,
        color: $green,
      );

      @include button($ButtonConfig);
    }

    @include size-for(phone-only) {
      $ButtonConfig: (
        margin: 20px auto,
        padding: 12px,
        fontSize: 16px,
        color: $green,
      );

      @include button($ButtonConfig);
    }
  }

  .spinner {
    $SpinnerConfig: (
      color: $white,
      margin: 0 auto,
    );

    @include spinner($SpinnerConfig);
  }
}