.message {
  $contentPadding: 10px 15px;

  padding: {
    left: 20px;
    right: 20px;
  }
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $white;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.05);

  &--error {
    .message__icon {
      color: $red;

      @extend .fas;
      @extend .fa-times-circle;
    }
  }

  &--warning {
    .message__icon {
      @extend .fas;
      @extend .fa-exclamation-circle;
    }
  }

  &--success {
    .message__icon {
      @extend .fas;
      @extend .fa-check-circle;
    }
  }

  &--info {
    .message__icon {
      @extend .fas;
      @extend .fa-info-circle;
    }
  }

  &__icon {
    padding: $contentPadding;
    font-size: 25px;
  }

  &__text {
    padding: $contentPadding;
    margin: 0;
    flex: 1;
    font-size: 16px;
  }

  &__closeButton {
    padding: $contentPadding;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

  &__closeIcon {
    @extend .fas;
    @extend .fa-times;
  }
}