@font-face {
  font-family: 'Lineto_Black';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Black.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Black.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-Black.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-Black.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto_Bold';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Bold.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-Bold.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-Bold.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto_Book';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Book.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Book.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-Book.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-Book.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto_Book_Italic';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-BookItalic.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-BookItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-BookItalic.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-BookItalic.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto_Medium';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Medium.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-Medium.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-Medium.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto_Medium_Italic';
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-MediumItalic.eot');
  src: url('../assets/fonts/lineto-circular/Lineto-Circular-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lineto-circular/Lineto-Circular-MediumItalic.woff2') format('woff2'), url('../assets/fonts/lineto-circular/Lineto-Circular-MediumItalic.woff') format('woff'), url('../assets/fonts/lineto-circular/Lineto-Circular-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}