/**
* @param: $FormErrorConfig(
*   fontSize: Pixel,
*   margin: Pixel,
* )
**/


@mixin formError($FormErrorConfig) {
  margin: getValue(margin, $FormErrorConfig);
  color: $red;
  font: {
    size: getValue(fontSize, $FormErrorConfig);
  }
}
